/* Conteneur principal des graphiques */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Chaque graphique */
.chart-box {
    width: 900px;
    height: 240px;
}
